DEBUG=True
DJANGO_SECRET_KEY=change-me-calendar-service-secret-key
JWT_SIGNING_KEY=change-me-shared-jwt-signing-key
ALLOWED_HOSTS=127.0.0.1,localhost,calendar-service,gateway
POSTGRES_DB=calendar_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
FRONTEND_BASE_URL=http://127.0.0.1:8080
TASK_SERVICE_URL=http://task-service:8000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALENDAR_REDIRECT_URI=http://127.0.0.1:8080/api/integrations/google/callback/
GOOGLE_CALENDAR_ID=primary
