DEBUG=False
DJANGO_SECRET_KEY=change-me-task-service-secret-key
JWT_SIGNING_KEY=change-me-shared-jwt-signing-key
JWT_ISSUER=task-manager-auth-service
JWT_AUDIENCE=task-manager-clients
JWT_ACCESS_TOKEN_MINUTES=60
JWT_REFRESH_TOKEN_DAYS=7
ALLOWED_HOSTS=127.0.0.1,localhost,task-service,gateway
CSRF_TRUSTED_ORIGINS=
USE_PROXY_SSL_HEADER=True
USE_X_FORWARDED_HOST=True
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
SECURE_HSTS_SECONDS=0
RUN_MIGRATIONS_ON_STARTUP=False
RUN_COLLECTSTATIC_ON_STARTUP=False
GUNICORN_WORKERS=2
GUNICORN_THREADS=2
GUNICORN_TIMEOUT=60
POSTGRES_DB=task_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
