DEBUG=True
DJANGO_SECRET_KEY=change-me-auth-service-secret-key
JWT_SIGNING_KEY=change-me-shared-jwt-signing-key
ALLOWED_HOSTS=127.0.0.1,localhost,auth-service,gateway
POSTGRES_DB=auth_service
POSTGRES_USER=postgres
POSTGRES_PASSWORD=0000
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
